@import url(background.css);
@import url(intermitentCursor.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik');


.lT {
    color: white;
    font-family: 'Rubik';
}

.sameLine {
    display: inline-block;

}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.divFlex {
    display: flex;
}

.cursor-text {
    display: none;
    color: white;
}

.btn-group {
    width: min-content;
    height: min-content;
    padding: 0;
}

svg {
    width: 3vh;
    height: 5vh;
}

.bi {
    padding: 0;
    background-color: transparent;
}

.btn-group {
    position: relative;
    overflow: hidden;
}

.btn-group .btn {
    padding: 1vh 8vh;
    background-color: black;
    border: 0;
    transition: all 0.3s ease;
}

.btn-group .btn:hover {
    transform: scale(1.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-group .btn svg {
    vertical-align: auto;
    cursor: pointer;
}


.nav-item {
    margin-left: 3vh;
    padding: 1vh 8vh;
    border: 0;
    transition: all 0.3s ease;
    background: transparent;
    color: gray;
}


.nav-item.selected {
    color: white;
    transform: scale(1.3);

}

.nav-item:not(.selected):hover {
    transform: scale(1.2);
    color: lightgray;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out, pointer-events 0s 0.5s;
}


.btn-primary:focus,
.btn-primary:active:focus {
    background-color: black;
    box-shadow: none;
}

.nav-item {
    font-size: 2vw;
}

@media (max-width: 1200px) {
    .lT {
        font-size: 8vw;
    }

    .divFlex {
        margin-top: 20vh;
    }

    .btn-group {
        width: 90vw;
    }

    .btn-group .btn {
        padding: 0.7vh 8vw;

    }

    .btn-primary:focus,
    .btn-primary:active:focus {
        background-color: black;
        box-shadow: none;
    }

    .nav {
        display: contents;
    }

    .nav-item {
        font-size: 5vw;
        width: min-content;
        padding: 2vw;
        margin: auto;
    }


}