@import url(background.css);
@import url(intermitentCursor.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik');

.titleSec {
    position: absolute;
    margin-left: 10vw;
    margin-top: 25vh;
}

::-webkit-scrollbar {
    width: auto;
    height: 1.3vh;
}

::-webkit-scrollbar-track {
    background: linear-gradient(rgb(22, 21, 21), rgb(39, 35, 35));
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(116, 114, 114), rgb(35, 35, 35));
    border-radius: 100px;
}

.divLang {
    position: fixed;
    font-size: 5vh;
    margin-left: 80vw;
}

.lT {
    color: white;
    font-family: 'Rubik';
}

.sameLine {
    display: inline-block;

}

#cvContent embed {
    width: 34vw;
    height: 90vh;
}

#cvContent button{
    height: min-content;
    background-color: transparent;
    border: 0;
    margin-right: 1vw;
    transition: all 0.3s ease;
}

#cvContent button:hover{
    transform: scale(1.2);
    border: 0;
}

#cvContent button *{
    width: 3vw;
    height: 10vh;
    color: white;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.cursor-text {
    display: none;
    color: white;
}

.btn-group {
    width: min-content;
    height: min-content;
    padding: 0;
}

svg {
    width: 3vh;
    height: 5vh;
}

.bi {
    padding: 0;
    background-color: transparent;
}

.btn-group {
    position: relative;
    overflow: hidden;
}

.btn-group .btn {
    padding: 1vh 8vh;
    background-color: black;
    border: 0;
    transition: all 0.3s ease;
}

.btn-group .btn:hover {
    transform: scale(1.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-group .btn svg {
    vertical-align: auto;
    cursor: pointer;
}

.teclb {
    font-size: 7.5vh;
}

.nav-item {
    margin-left: 3vh;
    padding: 1vh 8vh;
    border: 0;
    transition: all 0.3s ease;
    background: transparent;
    color: gray;
}


.nav-item.selected {
    color: white;
    transform: scale(1.3);

}

.nav-item:not(.selected):hover {
    transform: scale(1.2);
    color: lightgray;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease-in-out, pointer-events 0s 0.6s;
}

.fade-in {
    animation: fadeInAnimation 0.6s ease-in-out;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.btn-primary:focus,
.btn-primary:active:focus {
    background-color: black;
    box-shadow: none;
}

.nav-item {
    font-size: 2vw;
}

.skillsDiv {
    background-color: black;
    width: auto;
    height: 30vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.skillObject {
    margin: 0 1vw;
    transition: all 0.3s ease;
    margin-top: 2vh;
    position: static;
    padding: 0 2vw;
}


.imgSkill {
    width: 8vw;
    height: 16vh;
}

.skillLt {
    color: white;
    font-family: '';
    margin: auto;
}

.skillGrid {
    display: grid;
}

.skillObject:hover {
    transform: scale(1.1);
    color: lightgray;
    transition: all 0.3s ease;
}

.form-check-input:hover {
    cursor: pointer;
}

.card {
    width: fit-content;
    height: fit-content;
}

.card-title {
    font-size: 2vh;
}

.card-text {
    font-size: 2vh;
}

.card .btn-primary {
    font-size: 2vh;
}

.card-img-top {
    width: fit-content;
    height: fit-content;
}

#proyectsContent .card {
    width: 80%;
    margin: 0 auto;
    height: fit-content;
}

#proyectsContent .card .card-title {
    font-size: 50%;
}

@media (max-width: 1000px) {

    * {
        overflow-y: hidden;
    }

    .titleSec {
        margin-top: 30vh;
        margin-left: 4vw;
    }

    .divLang {
        margin-left: 70vw;
        font-size: 50%;
    }

    .form-check {
        padding: 0;
    }

    .lT {
        font-size: 8vw;
    }

    .divFlex {
        margin-top: 20vh;
    }

    .btn-group {
        width: 90vw;
    }

    .btn-group .btn {
        padding: 0.7vh 8vw;
    }

    .btn-primary:focus,
    .btn-primary:active:focus {
        background-color: black;
        box-shadow: none;
    }

    .nav {
        display: contents;
    }

    .nav-item {
        font-size: 5vw;
        width: min-content;
        padding: 2vw;
        margin: auto;
    }

    .fixed-bottom {
        position: absolute;
    }
    
    .skillsDiv {
        overflow-x: scroll;
    }

    .skillObject {
        overflow-x: hidden;
        min-width: min-content;
        max-width: fit-content;
    }

    .skillObject * {
        margin: 0 auto;
        min-width: max-content;

    }

    .teclb {
        margin-top: 1vh;
    }

    #cvContent embed {
        width: 50vw;
        height: 30vh;
    }

    #downloadButton {
        width: fit-content;
        height: fit-content;
    }

    #downloadButton svg{
        width: 10vw;
        height: 5vh;
    }

    .cursor-text {
        display: block;
        position: absolute;
        margin-top: 3.5%;
        font-size: 55%;
    }
}