.cursor-text {
    animation: blinkCursor 4s infinite; /* La animación dura 1 segundo y se repite infinitamente */
    display: inline; /* Asegúrate de que el cursor se muestre como un elemento en línea */
}

@keyframes blinkCursor {
    0% {
        opacity: 1; /* El cursor es completamente visible */
    }
    10% {
        opacity: 0; /* A la mitad de la animación, el cursor se vuelve invisible instantáneamente */
    }
    20% {
        opacity: 1; /* A la mitad de la animación, el cursor se vuelve invisible instantáneamente */
    }
    30% {
        opacity: 0; /* A la mitad de la animación, el cursor se vuelve invisible instantáneamente */
    }
    40% {
        opacity: 1; /* A la mitad de la animación, el cursor se vuelve invisible instantáneamente */
    }
    50% {
        opacity: 0; /* A la mitad de la animación, el cursor se vuelve invisible instantáneamente */
    }
    60% {
        opacity: 1; /* A la mitad de la animación, el cursor se vuelve invisible instantáneamente */
    }
    70% {
        opacity: 0; /* A la mitad de la animación, el cursor se vuelve invisible instantáneamente */
    }
    80% {
        opacity: 1; /* A la mitad de la animación, el cursor se vuelve invisible instantáneamente */
    }
    90% {
        opacity: 0; /* A la mitad de la animación, el cursor se vuelve invisible instantáneamente */
    }
    100% {
        opacity: 1; /* Al final, el cursor vuelve a ser completamente visible */
    }
}
